.inMain {
  @include position ('align');
  font-size: 18px;
  background-color: $colorActive;
  color: $textInColorBg;
  padding: 32px
} 

.containerInMain {
  @include position ('both');
  width: 80%;
  margin: 0 auto;
  .market{
    @include position ('align');
    width: calc(100%/5);
    padding-right: 24px;
  }
}

.marketImage {
  width: 32%;
  height: 20%;
  object-fit: cover;
  padding-right: 12px;
  img {
    width: 100%;
    height: 100%;
  }
}
